<div class="bg-dark text-light">
  <h1 class="page-header">Your Dashboard</h1>
</div>

<div class="d-flex justify-content-center" style="max-width: 90rem;">
    <div class="card text-bg-light mb-3" style="width: 50rem;">
    <div class="card-header">Create New Post</div>
    <div class="card-body">
        <form class="login-form">
            <div>
                <label for="user-login ">Title</label>
            </div>
            <div>    
                <input type="text" class="input-login" id="user-login" name="post-title">
            </div>
            <div>
                <label for="password-login ">Content</label>
            </div>
            <div>
                <textarea class="input-login" id="comment" name="post-text"></textarea>
            </div>
            <div>
                <button type="submit">Create!</button>
            </div>
        </form>
    
    </div>
    </div>
</div>

<script src="/javascript/add-post-form.js"></script>

