{{#if posts.length}}
<section>
  <ol>
    {{#each posts as |post|}}
    <li>
      <div class="card">
        <div class="card-body">
          {{title}} <span class="post-date">{{format_date created_at}}</span>
        </div>
      </div>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<div class="container post-form">

</div>

<div class="container add-post">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <button type="button" class="btn btn-secondary btn-lg bg-dark">+ New Post</button>
    </div>
    
  </div>
</div>

<script src="/javascript/add-post.js"></script>