<div class="bg-dark text-light">
    <h1 class="page-header">The Tech Blog</h1>
</div>

<ol class="post-list">
    {{!-- Start loop through object array --}}
    {{#each posts as |post| }}
    <li>
       {{> post-info post }}
    </li>
    {{!-- End loop --}}
    {{/each}}
</ol>