.post-date {
    float: right;
}

.post-info {
    float: right;
}

#page-title {
    padding-right: 20px;
}

.input-login {
    width: 100%;
}

.card {
    width: 100%;
}

ol {
    list-style-type: none;
}

li {
    margin-top: 25px
}

.page-header {
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.navigation-bar {
    padding-left: 40px;
}