.post-date {
    float: right;
}

.post-info {
    float: right;
}

#page-title {
    padding-right: 20px;
}

.input-login {
    width: 100%;
}

.card {
    width: 100%;
 
}

ol {
    list-style-type: none;
    padding-left: 40px;
    padding-right: 40px;
}

li {
    margin-top: 25px
}

.page-header {
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.navigation-bar {
    padding-left: 40px;
}

.button-align {
    position:absolute;
    bottom:5px;
}

a {
    text-decoration: none;
    
}

.text-white{
    color: #fff;
}

.comment-form {
    margin-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.button-position {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.post {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 40px;
}

.comment {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 40px;
}

.login-menu {
    margin-top: 40px;
}

.login-form > div {
    margin-top: 10px;
}

.nav-link {
    margin-top: 10px;
}

.sign-up-style {
    margin-top: 40px;
}

.sign-up-form > div {
    margin-top: 10px;
}

.add-post-style {
    margin-top: 40px;
}

.logout-button {
    margin-top: 10px;
}